.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    background-image: linear-gradient(
      to bottom,
      rgba(20, 50, 93, 0.9),
      rgba(8, 22, 48, 0.9)
    );
    padding: 40px 32px 30px 32px;
    .login__username,
    .login__password {
      display: flex;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      align-items: center;
      padding: 10px;
      i {
        font-size: 25px;
        color: #ffffff;
      }
      input {
        background: none;
        border: none;
        outline: none;
        margin-left: 10px;
        color: #fff;
        font-size: 20px;
        &::placeholder {
          color: #fff;
        }
      }
    }
    .login__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .button {
        outline: none;
      }
    }
    &__logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 209px;
        margin: 0 auto;
        margin-bottom: 46px;
      }
    }
  }
  .warning {
    color: red;
    margin-top: 10px;
  }
}

@media (max-width: 370px) {
  .login__form {
    width: 100vw !important;
    height: 100vh !important;
  }
}
