.cardSmall {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    transition: ll 0.2s;
    -webkit-transition: ll 0.2s;
    -moz-transition: ll 0.2s;
    -ms-transition: ll 0.2s;
    -o-transition: ll 0.2s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  &__content {
    text-align: left;
    flex: 1;
    &--title {
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px !important;
      color: #000000;
      font-weight: 500 !important;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      &:hover {
        color: #fb4226;
      }
    }
  }
}
