.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: all 1s;
  }
  &__logo {
    img {
      width: 50px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 350px !important;
      margin: 0;
      padding: 0;
      * {
        list-style: none;
        color: #000;
        text-decoration: none;
        &:hover {
          transition: all 0.5s;
          color: #fb4226;
          font-weight: 500px;
        }
      }
    }
  }
  &__account {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    span {
      transform: translateY(-2px);
      margin-left: 10px;
      color: #9b9b9b;
      font-size: 15px;
      font-weight: 500;
    }
    &__logo {
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.header-phone {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  &__content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    transition: 0.7s;
    background-color: #ffffff;
    z-index: 10000000;
    padding: 50px 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    ul {
      padding: 0;
      li {
        list-style: none;
        margin: 20px 0;
        a {
          font-size: 18px;
          font-weight: 500;
          color: #000;
          text-decoration: none;
        }
      }
    }
    &__login {
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        font-size: 30px;
        color: #9b9b9b;
      }
    }
  }
  .overplay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 1s;
    z-index: 1000;
  }
  &__option {
    cursor: pointer;
    img {
      width: 35px;
    }
  }
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  &__logo {
    img {
      width: 60px;
    }
  }
}
@media (max-width: 1124px) {
  .header__link {
    ul {
      width: 320px !important;
    }
  }
}

@media (max-width: 700px) {
  .header {
    display: none;
  }
  .header-phone {
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}
