.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    animation-name: example;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    transform: rotate(5deg);
    opacity: 0.8;
  }
}

@keyframes example {
  from {
    transform: scale(1) rotate(0);
    opacity: 0;
  }
  to {
    transform: scale(1.1) rotate(360deg);
    opacity: 1;
  }
}
