.showTimes {
  &__logo {
    min-width: 100%;
    &--item {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
  &__branch {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: calc(100% - 40px);
      transform: translateX(-50%);
      border-bottom: 1px solid #fff;
      border-color: rgba(238, 238, 238, 0.88);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    & .MuiTab-wrapper {
      width: 100%;
      display: block;
      text-transform: none;
      line-height: 1.4;
      & h2 {
        font-size: 14px;
        margin: 0;
        color: #8bc541;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      & p {
        font-size: 12px;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      & a {
        font-size: 14px;
        text-decoration: none;
        color: red;
      }
    }
  }
  &__film {
    &--button {
      width: 100%;
      text-align: center;

      & .time {
        font-size: 18px;
        color: #108f3e;
        font-weight: 600;

        &:hover {
          font-size: 18px;
          color: #fb4226;
          font-weight: 600;
        }
      }
      & .date {
        display: inline-block;
        margin: 0;
      }
    }
  }
}
