.card {
  max-width: 100%;
  box-shadow: none;
  &__image {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    transition: ll 0.2s;
    -webkit-transition: ll 0.2s;
    -moz-transition: ll 0.2s;
    -ms-transition: ll 0.2s;
    -o-transition: ll 0.2s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    &.medium {
      height: 150px;
    }
  }
  &__content {
    text-align: left;
    &--title {
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px !important;
      color: #000000;
      font-weight: 500 !important;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      height: 50px;
      &:hover {
        color: #fb4226;
      }
      &.medium {
        font-size: 14px !important;
        height: 35px;
      }
    }
    &--text {
      font-size: 13px;
      color: #4a4a4a;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 15px 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 60px;
      &.medium {
        margin: 10px 0;
      }
    }
    &--textMedium {
      font-size: 13px;
      color: #4a4a4a;
      line-height: 19px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 10px 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  &__actions {
    margin-right: 20px;
    display: inline-block;
    &--icon {
      margin-right: 10px;
      font-size: 18px;
      color: #bbbbbb;
      font-weight: 400;
      transition: all 0.2s;
      cursor: pointer;
    }
    &--text {
      font-size: 12px;
      color: #bbbbbb;
      font-weight: 400;
      cursor: pointer;
    }
    &:hover {
      & .card__actions--icon {
        color: red;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
  }
}
